.rouge{
    border:3px red dashed;

}

body
{
    font-family:Arial;
}

header, nav, article, section, footer, aside
{
    border-radius:5px;
}

header, nav, section, footer {
    background-color:ActiveCaption;
    margin:5px;
    padding:5px;
}

header{
    display:flex;
    align-items:center;
}

header img
{
    width:150px;
}

header h1
{
    text-align:center;
    flex-grow:1;
}

nav ul{
    font-family:'8Pin Matrix';
    display:flex;
    flex-direction:row;
    padding:0;
}

nav ul li
{
    margin:10px;
    background-color:#c6e0fb;
    list-style-type : none;
}

.wrapper
{
    display:flex;
}

#colonneGauche
{
    flex-grow:1;

    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
}

article
{
    padding:5px;
    margin:5px 0px;
    flex-basis:15em;
    background-color:#c6e0fb;
}

#colonneDroite
{
    flex-basis:17em;
}